<html>
  <head>
    <title>THE TIME IN UTC IS...</title>
    <style type="text/css" media="screen">
      body {
        background: #111;
        color: #fff;
        font: 100px Helvetica;
      }
      h1 {
        margin: 0;
      }
    </style>
  <body>
    <h1><%= Time.now.utc %></h1>
  </body>
</html>
