<html>
  <head>
    <title>THE TIME IN UTC IS...</title>
    <style type="text/css" media="screen">
      body {
        background: #111;
        color #fff;
        font: Helvetica 100px;
      }
      h1 {
        margin: 15% 0 0 0;
      }
  <body>
    <h1><%= Time.now.utc %></h1>
  </body>
</html>
